Description=Blocklister
Documentation=https://github.com/dlford/blocklister
After={{ blocklisterd_start_after | join(' ') }}
Wants=network-online.target

[Service]
Type=simple
ExecStart={{ blocklisterd_install_path }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
